<div class="d-flex justify-content-around mx-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent rounded-pill sticky-top" style="min-width: 80%"
        id="nav">
        <div class="container-fluid" style="min-width: 100%;">
            <a class="navbar-brand" href="#" ; style="color: #ffffff">BookSearch.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="me-auto">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                    </ul>
                </div>
                <div class="me-auto ms-auto">
                    <form action="/search" class="w-40">
                        <div class="input-group">
                            <input class="form-control rounded-start-pill py-2 px-4 searchbar"
                                style=" background-color: rgba(28, 35, 33, 0); color: #fff; border: 1px solid rgba(255,255,255,0.2);"
                                type="text" name="bookName">
                            <button class="btn rounded-end-pill px-4" id="search" type="submit"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg></button>
                        </div>
                    </form>
                </div>
                <div class="ms-auto">
                    <% if (!currentUser) {%>
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active custom-nav-link" aria-current="page" style="color: #fff;"
                                    href="/login">Login</a>
                            </li>
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active custom-nav-link" aria-current="page" style="color: #fff;"
                                        href="/register">Sign Up</a>
                                </li>
                            </ul>
                            <% } %>
                                <% if (currentUser) {%>
                                    <ul class="navbar-nav mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active custom-nav-link" aria-current="page"
                                                style="color: #fff;" href="/">
                                                <%=currentUser.username%>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active custom-nav-link" aria-current="page"
                                                style="color: #fff;" href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } %>
                        </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</nav>