<%- layout("/layouts/boilerplate") %>
    <div class="d-flex justify-content-around mx-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent" style="min-width: 100%" id="nav">
            <div class="container-fluid" style="min-width: 100%;">
                <a class="navbar-brand" href="#" ; style="color: #daddd8">BookSearch.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active custom-nav-link" aria-current="page" style="color: #daddd8;"
                                href="/">Home</a>
                        </li>
                    </ul>
                    <form action="/search" class="w-40">
                        <div class="input-group">
                            <input class="form-control rounded-start-pill py-2 px-4 searchbar"
                                style=" background-color: rgba(28, 35, 33, 0); color: #fff; border: 1px solid rgba(255,255,255,0.2);"
                                type="text" name="bookName">
                            <button class="btn rounded-end-pill px-4" id="search" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>