<%- layout("layouts/boilerplate")%>
    <form action="/search">
        <input class="form-control form-control-lg" type="text" placeholder="Book Search" name="bookName"
            aria-label=".form-control-lg example">
    </form>