body {
	background-size: cover;
	background-position: center;
	background-image: url("background.png"); /* or any filler color */
}

#search {
	background-color: #daddd8;
	transition: 0.4s;
}

#search:hover {
	background-color: #1c2321;
	color: #daddd8;
}

:root {
	--bs-navbar-brand-color: #daddd8;
}

#nav {
	position: fixed;
	width: 100%;
	background-color: #212529 !important;
	z-index: 10000;
	border-radius: 50px;
	width: 60%;
	padding: 1em 25px;
	opacity: 0.75;
	text-align: center;
}
#bookCard {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px #fff;
	backdrop-filter: blur(5px);
	color: #daddd8;
}

.headText {
	font-size: 1.5em;
}

@font-face {
	font-family: "Extenda"; /* Name you will use in CSS */
	src: url("font.ttf") format("truetype"); /* Path to your font */
	font-weight: normal; /* Optional */
	font-style: normal; /* Optional */
}
