@font-face {
	font-family: "Extenda";
	src: url("font.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-size: cover;
	background-position: center;
	background-image: url("background.png");
}

#search {
	background-color: #daddd8;
	transition: 0.4s;
}

#search:hover {
	background-color: #1c2321;
	color: #daddd8;
	border: 1px solid rgba(255, 255, 255, 0.2);
	text-decoration: underline;
}

.custom-nav-link:hover {
	box-sizing: border-box !important;
	padding: 0.3em;
	text-decoration: underline;
}

#nav {
	top: 2%;
	font-family: "Rethink Sans";
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0) !important;
	backdrop-filter: blur(1px);
	z-index: 10000;
	width: 60%;
	padding: 1em 25px;
	opacity: 0.9;
	text-align: center;
}

.form-control:focus {
	outline: none !important;
	box-shadow: 0 0 6px rgba(97, 106, 119, 0.4) !important;
	border-color: rgba(97, 106, 119, 0.5);
}

#bookCard {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px #fff;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	color: #daddd8;
	font-family: "Raleway";
}

.headText {
	font-size: 2em;
	font-weight: 600;
}
